* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

body {
    background-color: aliceblue;
}

header {
    background-color: white;
    display: flex;
    align-items: center;
    gap: 13px;
    padding-top: 20px;
    padding-bottom: 20px;
}

header h2 {
    margin-left: 20px;
}

.navbar {
    display: flex;
    gap: 10px;
    align-items: center;
    font-size: 20px;
    margin-left: 44%;
}

.navbar a {
    color: black;
}

.btn {
    background-color: white;
    color: black;
    border: 3px solid black;
    display: inline-block;
    font-size: 15px;
    border-radius: 5px;
    padding: 10px 18px;
    cursor: pointer;
}

.btn a {
    color: black;
}

.btn2 {
    background-color: black;
    border: 3px solid black;
    display: inline-block;
    font-size: 15px;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
}

.btn2 a {
    color: white;
}

.hamburger {
    display: none;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
}

.hamburger span {
    width: 25px;
    height: 3px;
    background: black;
    border-radius: 5px;
    transition: 0.3s;
}

.hamburger.open span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
}

.hamburger.open span:nth-child(2) {
    opacity: 0;
}

.hamburger.open span:nth-child(3) {
    transform: rotate(-45deg) translate(6px, -6px);
}

.home {
    width: 96%;
    height: 550px;
    background-image: url(./images/furniture.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    padding: 25px 25px;
}

.home h1 {
    font-size: 30px;
    margin-top: 18%;
    color: black;
}

.home p {
    font-size: 15px;
    margin-top: 5px;
    color: black;
    line-height: 20px;
    width: 40%;
    margin-left: 30%;
}

.home-text a {
    background-color: green;
    color: white;
    border: 3px solid green;
    display: inline-block;
    font-size: 15px;
    border-radius: 10px;
    padding: 10px 15px;
    margin-top: 15px;
}

.product {
    padding: 25px 25px;
}

.product-text h2 {
    font-size: 40px;
    margin-top: 7%;
    margin-left: 45px;
}

.product-text p {
    text-align: justify;
    width: 38%;
    font-size: 18px;
    margin: 15px 0 0 45px;

}

.product-text a {
    background-color: green;
    color: white;
    border: 3px solid green;
    display: inline-block;
    font-size: 15px;
    border-radius: 10px;
    padding: 10px 15px;
    margin: 25px 0 0 43px;
}

.product img {
    width: 595px;
    height: 290px;
    float: right;
    margin: 25px 25px 0 0;
}

.about {
    padding: 20px;
    margin-top: 12px;
}

.about-text h3 {
    font-size: 35px;
    margin-top: 6%;
    margin-left: 55%;
}

.about-text p {
    text-align: justify;
    width: 38%;
    font-size: 18px;
    margin-top: 15px;
    margin-left: 55%;
}

.about-text a {
    background-color: green;
    color: white;
    border: 3px solid green;
    display: inline-block;
    font-size: 15px;
    border-radius: 10px;
    padding: 10px 15px;
    margin-top: 25px;
    margin-left: 0;
    position: relative;
    left: 4%;
}

.about img {
    width: 562px;
    height: 300px;
    float: left;
    margin: 40px 30px;
}

.contact {
    padding: 25px;
    margin-bottom: 60px;
}

.contact h4 {
    font-size: 35px;
    margin-top: 6%;
    margin-left: 30px;
}

.contact p {
    text-align: justify;
    width: 38%;
    margin-left: 30px;
    margin-top: 20px;
    font-size: 18px;
}

.contact img {
    width: 590px;
    height: 300px;
    float: right;
    margin: 5px 30px 0 0;
}

input {
    width: 20%;
    margin-left: 30px;
    padding: 5px;
    margin-top: 20px;
    border: none;
    font-size: 13px;
    background-color: aliceblue;
}

input[type=text] {
    border-bottom: 3px solid green;
}

::placeholder {
    color: black;
    opacity: 1;
}

.contact-box a {
    background-color: green;
    color: white;
    border: 2px solid green;
    display: inline-block;
    border-radius: 8px;
    padding: 5px 18px;
    margin-left: 10px;
}

.footer {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    background-color: #24262b;
    color: white;
    padding: 50px;
}

.footer-col {
    margin-left: 30px;
}

.footer-col h2 {
    font-size: 30px;
}

.footer-col p {
    margin-top: 10px;
    font-size: 18px;
}

.social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 25px 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
}

.footer-content {
    padding-right: 70px;
}

.footer-content h4 {
    font-size: 20px;
}

.footer-content li {
    margin-top: 15px;
    font-size: 15px;
}

.underline {
    width: 7%;
    height: 5px;
    background-color: gray;
    border-radius: 2px;
    position: absolute;
    margin-top: 5px;
}

.underline span {
    width: 15px;
    height: 100%;
    background-color: #fff;
    border-radius: 3px;
    position: absolute;
    top: 0;
    left: 10px;
    animation: moving 4s linear infinite;
}

@keyframes moving {
    0% {
        left: -5px;
    }

    100% {
        left: 85%;
    }
}

@media (max-width: 768px) {

    header {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 5px;
        padding: 20px 10px;
    }

    header h2 {
        margin-left: 0;
        font-size: 18px;
    }

    .navbar {
        display: none;
        flex-direction: column;
        gap: 10px;
        width: 100%;
        background-color: white;
        position: absolute;
        top: 80px;
        right: 0;
        padding: 25px 0;
        z-index: 10;
    }

    .navbar.active {
        display: flex;
    }

    .navbar li {
        width: 100%;
    }

    .navbar a {
        width: 100%;
        padding: 10px 0;
        text-align: left;
    }

    .hamburger {
        display: flex;
        margin-left: auto;
        cursor: pointer;
    }

    .btn {
        margin-left: 28px;
    }    

    .home {
        height: auto;
        min-height: 400px;
        width: auto;
        background-size: cover;
        background-position: center;
        padding: 60px 10px 0;
    }

    .home h1 {
        font-size: 22px;
        margin-bottom: 20px;
    }

    .home p {
        text-align: center;
        font-size: 14px;
        margin-left: 0;
        width: auto;
    }

    .product img {
        float: none;
        width: 100%;
        height: auto;
        margin: 20px 0;
    }

    .product-text h2,
    .product-text p {
        margin-left: 0;
        text-align: center;
        width: 100%;
    }

    .about img {
        float: none;
        width: 100%;
        height: auto;
        margin: 20px 0;
    }

    .about {
        padding: 0 20px;
    }

    .about-text h3,
    .about-text p {
        margin-left: 0;
        text-align: center;
        width: 100%;
    }

    .contact img {
        float: none;
        width: 100%;
        height: auto;
        margin: 20px 0;
    }

    .contact h4,
    .contact p {
        margin-left: 0;
        text-align: center;
        width: 100%;
    }

    input {
        width: 50%;
        margin-left: 0;
    }

    .contact-box a {
        display: block;
        margin: 15px auto 0;
        text-align: center;
        width: 40%;
        max-width: 300px;
        padding: 10px 0;
    }

    .contact-box {
        display: flex;
        flex-direction: row;
    }

    .footer {
        flex-direction: row;
        padding: 25px;
    }

    .footer-col {
        margin-left: 0;
    }

    .footer-content {
        padding-right: 0;
        margin-top: 20px;
    }

    .underline {
        width: 18%;
        height: 5px;
    }

    .home-text a,
    .product-text a,
    .about-text a {
        display: block;
        margin: 15px auto;
        text-align: center;
        width: 40%;
        max-width: 300px;
        padding: 10px 0;
    }

}